APP_NAME=api-gateway
APP_ENV=local
APP_KEY=base64:+xPvkTO0gk5RCp+XZnSwVX+H5R0dcqdVhTqu5LpTwO4=
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_VERSION=1.0.0

LOG_CHANNEL=stack
LOG_LEVEL=debug

MAIL_MAILER=log
FILESYSTEM_DISK=local

DB_CONNECTION=null

SESSION_DRIVER=array

QUEUE_CONNECTION=redis
CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PORT=6379

AUTH_SERVICE_URL=http://auth-nginx
ORDER_SERVICE_URL=http://order-nginx
PRODUCT_SERVICE_URL=http://product-nginx

JWT_SECRET=uhnKsVFOcIUb4HMH14e68M6WxbYeAr8uGGHNVmdD9wWGTYd5xflxsFEGUlLC0jxi

INTERNAL_SIGNATURE_SECRET=8f3b7d1d4d9c2a1e5b6f0a8c9d3e7f1a4b2c6d8e9f0a1b3c5d7e9f2a4b6c8d1

