############################################
# Environment files
############################################
.env
.env.*
!.env.example
!.env.testing.example

############################################
# Composer / PHP
############################################
vendor/
.phpunit.result.cache

############################################
# Laravel
############################################
bootstrap/cache/*.php
storage/*.key
storage/logs/
storage/framework/
storage/app/public/
public/storage

############################################
# Node / Frontend
############################################
node_modules/
dist/
build/
coverage/

############################################
# Logs
############################################
*.log

############################################
# Docker
############################################
docker-compose.override.yml

############################################
# IDE / Editor
############################################
.idea/
.vscode/
*.swp
*.swo

############################################
# OS
############################################
.DS_Store
Thumbs.db

############################################
# SQLite
############################################

**/*.sqlite
**/database/*.sqlite